<div class="row text-left">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                  <h1>Welcome,</h1>
                  <h2 *appIsAuthenticated>
                    You are logged in.
                  </h2>
                  <div>
                  This is your homepage.

                  If you have any questions on daSWAG:
                  </div>
                  <ul>
                      <li>
                          <a href="https://www.daswag.tech">Website & Docs</a>
                      </li>
                      <li>
                          <a href="https://www.twitter.com/daswag_project">Follow @daswag_project on Twitter</a>
                      </li>
                  </ul>
              </div>
        </div>
    </div>
</div>
